<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3> Project </h3>
        <ul class="list-unstyled">
          <li>
            <a href="https://fedoraproject.org/wiki/Websites/Developer">Project Page</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3> Code </h3>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/developer-portal/content">Content Repository</a>
          </li>
          <li>
            <a href="https://github.com/developer-portal/website">Website Repository</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3> Contact </h3>
        <ul class="list-unstyled">
          <li>
            <a href="https://lists.fedoraproject.org/admin/lists/developer-portal.lists.fedoraproject.org/">Mailing List</a>
          </li>
          <li>
            <a href="http://webchat.freenode.net/?channels=#developer-portal">#developer-portal</a> on
            <a href="https://freenode.net/">freenode.net</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
