---
layout: layout
---
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <!--<li {% if page.page_menu_hl == "home" %} class="active" {% endif %}>
                  <a href="/doc/">Home</a>
                </li>-->
                <li {% if page.page_menu_hl == "structure" %} class="active" {% endif %}>
                  <a href="/doc/structure.html">Website Structure</a>
                </li>
                <li {% if page.page_menu_hl == "file-structure" %} class="active" {% endif %}>
                  <a href="/doc/file-structure.html">File Structure</a>
                </li>
                <li {% if page.page_menu_hl == "contribution-tracking" %} class="active" {% endif %}>
                  <a href="/doc/contribution-tracking.html">Contribution Tracking</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          {{ content }}
        </div>
      </div>
    </div>
